@page "/"
@using MainApp.ViewModels
@using Shared.Models
@inject HomeViewModel viewModel



<div class="container">

    <h3 class="headline">Devices</h3>

    <div class="devices">
        @if (Devices != null)
        {
            foreach (var device in Devices)
            {


               @*  var icon = device.DeviceType.ToLower() switch
                {
                    "light" => ""
                    
                }; *@



                <div id="@device.DeviceId" class="device @(device.DeviceState ? "active" : null)">
                    <div class="body">
                        @* <i class="@icon"></i> *@
                        <div class="title">@device.DeviceName</div>
                        <div class="state">@(device.ConnectionsState ? "connected" : "Connecting...")</div>
                    </div> 
                    <footer>
                        <label class="switch">
                            <InputCheckbox @bind-Value="device.DeviceState" @onclick="() => " disabled="@(device.ConnectionsState == false)"/>
                            <span class="slider round"></span>
                        </label>
                    </footer>
                </div>
            }
        }
        else
        {
            <div clsss="preloader">
                <i class="fa-solid fa-spinner-third fa-spin"></i>
            </div>
        }

    </div>
</div>



@code {
    private IEnumerable<DeviceSettings> Devices = [];
}